body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #6c7279;
  background-color: #fff;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0 0 10px;
}

/* Container
===================================== */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Icon */
.icon {
  height: 18px;
  fill: grey;
}

.icon--footer {
  height: 18px;
  fill: white;
}

/* Header
===================================== */
.header {
  position: absolute;
  height: 100px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header.fixed {
  height: auto;
  position: fixed;
  background-color: #30344f;
}

.header.fixed .header__inner {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 0;
}

.header__inner {
  align-items: center;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
}

/* Nav
===================================== */
.nav {
  display: flex;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav__link {
  margin-left: 50px;
  opacity: .75;
  color: #fff;
  text-decoration: none;
  transition: opacity .2s linear;
}

.nav__link:hover {
  opacity: 1;
}

.nav__link:first-child {
  margin-left: 0px;
}

/* Intro
===================================== */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 750px;
  padding-top: 100px;
  background: #30344f url("img/header/background.jpg") center no-repeat;
  background-size: cover;
}

.intro__inner {
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.intro__title {
  text-transform: uppercase;
  margin: 0 0 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 65px;
  line-height: 1.1;
  color: #fff;
  font-weight: 700;
}

.intro__subtitle {
  margin-bottom: 60px;
  font-size: 22px;
  color: #fff;
  line-height: 1.5;
  font-weight: 400;
}

/* Button
===================================== */
.btn {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding: 14px 40px;
  border-radius: 2px;
  font-family: 'Raleway', sans-serif;
  transition: background .2s linear;
  text-align: center;
}

.btn--red {
  background-color: #e84545;
}

.btn--red:hover {
  background-color: #dd3434;
}

.btn--long {
  min-width: 280px;
}

/* Button
===================================== */
.features {
  display: flex;
  flex-wrap: wrap;
  margin: 100px 0;
}

.features__item {
  width: 33.33333%;
  padding: 0 40px;
  margin: 25px 0;
  text-align: center;
}

.features__icon {
  margin-bottom: 25px;
}

.features__title {
  color: #2d3033;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.features__text {
  color: #6c7279;
  font-size: 14px;
  line-height: 1.5;
}

/* Works
===================================== */
.works {
  display: flex;
  flex-wrap: wrap;
}

.works__item {
  width: 25%;
  height: 350px;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

.works__item:hover .works__content {
  opacity: 1;
}

.works__img {
  min-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate3d(-50%, -50%, 0);
}

.works__content {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: rgba(232, 69, 69, 0.9);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  transition: opacity 0.2s linear;
}

.works__title {
  margin-bottom: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.works__text {
  font-size: 14px;
  color: #fff;
}

/* Works
===================================== */
.team {
  margin: 100px 0 70px 0;
}

.team__inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.team__item {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.team__photo {
  display: block;
  max-width: 100%;
  height: auto;
}

.team__name {
  margin-top: 20px;
  font-size: 22px;
  color: #2d3033;
}

.team__prof {
  text-transform: uppercase;
  margin-top: 6px;
  font-size: 13px;
  color: #e84545;
}

.team__text {
  line-height: 1.5;
  margin-top: 25px;
  font-size: 14px;
  color: #6c7279;
}

/* Social
===================================== */
.social {
  display: flex;
}

.social--footer {
  justify-content: center;
  margin-top: -25px;
}

.social__item {
  opacity: 0.7;
  margin-right: 4px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #e8ecee;
  transition: 0.2s linear;
}

.social__item:hover {
  opacity: 1;
}

.social--footer .social__item {
  border-width: 2px;
  border-color: #fff;
  border-radius: 2px;
}

/* Testimonials
===================================== */
.testimonias {
  background-color: #53354a;
  overflow: hidden;
}

.testimonias__slider {
  height: 500px;
  overflow: hidden;
}

.testimonias__slider.slick-initialized {
  height: auto;
}

.testimonias__item {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.testimonias__photo {
  width: 50%;
  height: 500px;
  position: relative;
}

.testimonias__image {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  transform: translateY(-50%);
}

.testimonias__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 80px;
}

.testimonias__text {
  font-family: 'Cardo', sans-serif;
  font-size: 36px;
  font-style: italic;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 25px;
}

.testimonias__name {
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  padding: 0 0 10px;
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots button {
  opacity: 0.5;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  border: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  cursor: pointer;
}

.slick-dots button:focus {
  outline: none;
}

.slick-dots .slick-active button {
  opacity: 1;
}

/* Download
===================================== */
.download {
  margin: 90px 0;
  text-align: center;
}

.download__title {
  font-size: 28px;
  padding-bottom: 10px;
  color: #2d3033;
  font-weight: 300;
}

.download__text {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 35px;
  color: #2d3033;
}

/* Footer
===================================== */
.footer {
  background-color: #3a3e64;
}

.footer__inner {
  padding: 70px 0;
  display: flex;
  flex-wrap: wrap;
}

.footer__block {
  width: 33.33333%;
  text-align: center;
}

.footer__title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  padding-bottom: 20px;
}

.footer__text {
  font-style: normal;
  line-height: 1.5;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

/* Copyright
===================================== */
.copyright {
  background-color: #313454;
  padding: 20px 0;
}

.copyright__text {
  text-align: center;
  font-size: 14px;
  color: #808080;
  line-height: 1.5
}

.copyright__text span {
  color: #fff;
}

/* Burger
===================================== */
.burger {
  display: none;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 9px 2px;
}

.burger__item {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  font-size: 0;
  color: transparent;
  position: relative;
}

.burger__item:after,
.burger__item:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  z-index: 1;
}

.burger__item:after {
  bottom: -8px;
}

.burger__item:before {
  top: -8px;
}

/* Media
===================================== */
@media (max-width: 1097px) {

  /* Works */
  .works__item {
    width: 50%;
  }
}

@media (max-width: 991px) {

  /* Intro */
  .intro__title {
    font-size: 40px;
  }

  /* Burger */
  .burger {
    display: block;
  }

  /* Nav */
  .nav {
    display: none;
    background-color: #31344e;
    width: 100%;
    text-align: right;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 100%;
  }

  .nav.show {
    display: flex;
  }

  .nav__link {
    padding: 9px 15px;
  }

  /* Features */
  .features__item {
    width: 50%;
  }

  /* Team */
  .team__item {
    width: 50%;
    text-align: center;
  }

  .team__photo {
    margin-left: auto;
    margin-right: auto;
  }

  /* Social */
  .social {
    justify-content: center;
  }

  /* Testimonials*/
  .testimonias__photo {
    width: 100%;
    margin: 15px 0 40px;
    overflow: hidden;
  }

  .testimonias__content {
    width: 100%;
    padding-left: 0;
    padding-bottom: 40px;
  }

  .testimonias__image {}
}

@media (max-width: 767px) {

  /* Intro */
  .intro {
    height: auto;
    padding-top: 130px;
    padding-bottom: 30px;
  }

  .intro__title {
    font-size: 30px;
  }

  .intro__subtitle {
    margin-bottom: 30px;
    font-size: 16px;
  }

  /* Features */
  .features {
    margin: 40px 0;
  }

  .features__item {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  /* Works */
  .works__item {
    width: 100%;
    height: 300px;
  }

  /* team */
  .team__item {
    width: 100%;
  }

  .team {
    margin: 60px 0 30px 0;
  }

  /* Testimonials */
  .testimonias__text {
    font-size: 25px;
  }

  /* Btn */
  .btn--long {
    min-width: 260px;
  }

  /* Download */
  .download {
    margin: 50px 0;
  }

  .download__title {
    font-size: 24px;
  }

  /* Footer */
  .footer__inner {
    padding: 30px 0;
  }

  .footer__block {
    margin-bottom: 30px;
    width: 100%;
  }

  .footer__block:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 414px) {
  .testimonias__image {
    right: -100px;
  }
}
